* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main {
    height: 40px;
    background-color: #242728;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoandsearch {
    display: flex;
    gap: 4px;
    height: 40px;
    width: 75px;
    align-items: center;
    padding-left: 10px;
}

.fb-back{
    background-color: white;
    height: 100%;
    width: 100%;
}
.fb-icon {
    font-size: 27px;
    background: white;
    color: #1877f2;
    border-radius: 50%;
}
.logo-border {
    background-color: #4c4c4c;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.srch-border {
    background-color: #333334;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srch-icon {
    font-size: 15px;
    /* opacity: 0.7; */
}

.middle-icons {
    display: flex;
    margin: 0 auto;
    padding-left: 50px;
    gap: 65px;
}
.fa-mid {
    color: white;
    /* opacity: 0.6; */
}
.fa-mid:hover {
    opacity: 1;
}

.fa-end {
    color: white;
    /* opacity: 0.6; */
}

.lasticons {
    display: flex;
    align-items: center;
    padding: 0 0 0 35px;
    gap: 5px;
}
.icon-border {
    background-color: #4c4c4c;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}