body { 
    text-align: center;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 0.3rem;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pink {
    background-color: rgb(255, 104, 129);
}
.maroon {
    background-color: maroon;
}
.yellow {
    background-color: lightyellow;
}
.green {
    background-color: darkolivegreen;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: blueviolet;
}