body {
    margin: 20px;
}
.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.msg {
    background-color: darkgreen;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}