.container {
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.item {
    /* height: 50px;
    width: 100px; */
    background-color: greenyellow;
    text-align: center;
    border: 2px solid black;
}