.main {
    display: flex;
    gap: 20px;
}
.card {
    width: 300px;
    /* margin: 0 auto; */
    border: 3px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 0 0 0 10px;
}

.banner {
    width: 300px;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.imgg {
    object-fit: cover;
    width: 100%;
    display: block;
}

.card-text {
    padding: 0 0 0 10px;
}