body {
    background-color: rgb(255, 255, 255);
}
#main {
    height: 500px;
    width: 500px;
    background-color: pink;
    position: relative;
}
#second {
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.eye {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 50px 10px;
}
#mouth {
    width: 120px;
    height: 60px;
    border-bottom: 8px solid black;
    border-radius: 0 0 100px 100px;
    margin: auto;
}