.container {
    height: 50px;
    /* width: 100%; */
    background-color: rgb(136, 136, 136);
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-radius: 40px;
}

.hamburger .icon {
    width: 23px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
  height: 22px;
  margin-left: 20px;
  /* display: block; */
}

.searchbar {
  width: 500px;
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  background-color: white;
}

.searchbar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

.search-btn {
  height: 100%;
  width: 55px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-left: 1px solid #aaa;
  cursor: pointer;
}

.search-btn i {
  font-size: 16px;
  color: black;
}